.feed
{
    margin-top: 2rem;
    width: 100%;
}
.feed-form
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.feed-form-input
{
    outline: none;
    padding: .8rem;
    width: clamp(18rem,65vw,60rem);
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(181, 171, 171, 0.27);
}

.pcardlist
{   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top:  3rem;
    width: 100%;
    
}