@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.navbar
{
    font-family: 'Poppins', sans-serif;
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    padding: .8rem 1.5rem;
}
.link-1
{

    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation
{
    display: flex;
    visibility: visible;
}

.black-btn-wrapper
{
    display: flex;
    gap: 1rem;
}
.black-btn
{
    font-size: .9rem;
    display: block;
    padding: .6rem 1rem;
    text-decoration: none;
    border-radius: 26px;
    background: black;
    color: white;
}
.signout
{
    font-size: .9rem;
    display: block;
    padding: .6rem 1.5rem;
    text-decoration: none;
    border-radius: 26px;
    background: black;
    color: white;
}
.profile-pic
{
    display: inline-block;
    border-radius: 50px;
}

.nav-mobile
{
    display: none;
}
.nav-m-wrapper
{
    display: none;
}
.dropdown
{
    display: none;
}
@media screen and (max-width : 426px) {
    .dropdown
    {
        outline: 1px solid gray;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: .5rem;
        align-items: center;
        width: max-content;
        display: flex;
        flex-direction: column;
        position: absolute;
        background: white;
        color: black;
        top: 2.1rem;
        left: -5rem;
    }
    .nav-mobile
    {
        display: flex;
        justify-content: center;
        align-items: center ;
        position: relative;
    }
    .dropdown-link
    {
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 1rem;
    }
    .nav-m-wrapper
    {
        display: flex;
    }
    .black-btn-wrapper
    {
        gap: 3rem;
    }
    .navigation
    {
        display: none;
    }
    .link-1 > p
    {
        display: none;
    }
}