.profile
{
    margin-top: 2rem;
    width: 100%;
}
.profile-misc
{
    padding-inline: 1rem;
}
.profile-heading
{
    text-align: left;
    font-family: sans-serif;
}
.profile-heading-span
{
    color: blue;
}